@charset "utf-8";
/*CSS reset Start*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,lable{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
img{vertical-align:top;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,b,i,th,var {font-weight:normal; font-style:normal;} 
ol,ul{list-style:none;}
caption,th{text-align:left;}
ins{text-decoration:none;}
input, button, select, textarea {outline:none;}
textarea {resize:none;}
a{color:#444;text-decoration:none;-webkit-transition:color .4s,background-color .4s;-moz-transition:color .4s,background-color .4s;-o-transition:color .4s,background-color .4s;transition:color .4s,background-color .4s}
a:hover{color:#000;text-decoration:underline;-webkit-transition:color .2s,background-color .2s;-moz-transition:color .2s,background-color .2s;-o-transition:color .2s,background-color .2s;transition:color .2s,background-color .2s}
/*CSS reset End*/
body {color:#808080;font:12px/1.5 "Microsoft YaHei","微软雅黑",tahoma,arial,'Hiragino Sans GB',宋体b8b体4f53,sans-serif}
/*常用css start*/

/*浮动*/
.fl {float: left;display: inline;}
.fr {float: right;display: inline;}
.cf:before,.cf:after{content:""; display:table; } 
.cf:after{ clear:both; }
.cf{*zoom:1;}
.clear{clear:both;font-size:0;}
.dashed{border-top:1px dashed #000;height: 1px;overflow:hidden}

/*头部公共模块*/
.header-wrap{width:100%;background: #fafafa;}
.header-wrap .header{width:1004px;margin:0 auto;height:50px;}
.header-wrap .header .h-l{float:left;}
.header-wrap .header .h-l a{display:block;margin-top:8px;}
.header-wrap .header .h-r{float:right;}
.header-wrap .header .h-r ul{}
.header-wrap .header .h-r ul li{float:left;font-size:12px;line-height:50px;}
.header-wrap .header .h-r ul li a{color:#626262;margin:0 15px;}
.header-wrap .header .h-r ul li a:hover{color:#FB7101;}

.sub-header{width:1010px;height:45px;margin:0 auto;position:relative;padding-top: 8px;}
.sub-header .home{width:640px;height:50px;cursor:pointer;}
.sub-header .back-home{width:136px;height:34px;background:#e4e9ed;line-height:34px;color:#fff;text-align:center;font-size:16px;cursor:pointer;position:absolute;top:8px;right:30px;border-radius:5px;}

/*版权公共模块*/
.copyright-wrap{width:100%;background:#000;}
.copyright-wrap .copyright{width:1010px;margin:0 auto;height:30px;text-align:center;position:relative;}
.copyright-wrap .copyright pre{height:30px;line-height:30px;color:#fff;font-size:12px;}
.copyright-wrap .copyright pre>a{color:#fff;}

/*online kf*/
html{ overflow-x: hidden; }
html{-webkit-text-size-adjust:none;}/*修正谷歌最小字号bug*/
.lrkf { font-size: 13px; position: fixed;*background-image: url(about:blank); _position:absolute;}
.lrkf ul,.lrkf li{ padding-left: 0; margin: 0; list-style-type: none; }
.lrkf ul{ border-bottom-left-radius:4px; background:#0b92d1; }
.lrkf ul{ padding-top:20px;}
.lrkf a { display: block; text-decoration: none; font-size:12px; color:#EEE5E5; }
.lrkf img { border: none; vertical-align: middle; margin-right: 4px; margin-top: -2px; }
.lrkf_con { }
.iconWarp { cursor:pointer; border-top-left-radius:4px; background:#009ee8; padding:20px 0px 17px 30px; }
.lrkf_con li.qq { padding: 5px 0; }
.lrkf_con li.tel { line-height: 1.5; padding-bottom: 10px; font-size:12px; color:#fff; padding-left:20px;}
.lrkf_con li.more { padding: 2px 0; line-height:25px; border-bottom-left-radius:4px; background:#009ee8; padding-left:20px;}
.lrkf_con li.tel b { display: block; color: #fff;font-family: "Microsoft YaHei";font-weight: 600; font-size:12px;}
.lrkf_tool a { display: block; padding: 8px 10px; text-align: center; }
.lrkf_con .hr { padding: 0; height: 0; font-size: 0; line-height: 0; clear: both; margin: 4px 0; border-bottom: #fff solid 1px; border-top: #CFCFCF solid 1px; border-left: none; border-right: none; }
.lrkf_btn { position: absolute; top: 20px; width: 22px; left: -22px; display: block; text-align: center; padding: 10px 0; }

/*.lrkf .lrkf_x { position: absolute; bottom: -14px; right: 6px; font-size: 10px; display: none; }*/
.lrkf_foot{ text-align: center; color: #fff;}
.lrkf .qrcode{ padding:6px 4px;}
.lrkf .qrcode img{ width:100%; margin:0;}
/*如果在左侧*/
.lrkf-right{right:0;}
.lrkf-left{ left:0;}
/*皮肤*/
.lrkf{ width:124px;}				/*必须有一个合适的宽度，否则获取不到正确的宽度*/
.lrkfshow { right:0;}				/*这个不要动*/
.lrkf .lrkf a{}
/*.lrkf a:hover{color:#B50708;}*/
.lrkf .lrkf_box{ }
.lrkf .lrkf_header,.lrkf .lrkf_con,.lrkf .lrkf_tool a{}
.lrkf .lrkf_header,.lrkf .lrkf_con{ margin-top:0;}
.lrkf .lrkf_btn{background-color:#009EE8;color:#fff;}
.lrkf .lrkf_btn:hover{ background-color:#009EE8;color:#fff;}

/*.lrkf 离线状态*/
.lrkf ul.off{background:#868686; }
.lrkf .lrkf_btn.off {background-color:#999999;}
.lrkf .lrkf_btn:hover.off{ background-color:#999999;}
.iconWarp.off,.lrkf_con li.more.off { background:#999999;}

/*二维码*/
.qr-code{position:fixed;top:250px;right:-140px;}
.qr-code a{position:absolute;top:10px;left:-22px;display:block;width:24px;height:30px;background:url(../img/bg-spirit.png) no-repeat;}


/*g-toolbar*/
.g-toolbar{  
  position: fixed;
  top: 60%;
  left: 50%;
  margin-left: 550px;
  padding-bottom: 50px;
}
.g-toolbar .toolbar-item{position:relative;margin:0 0 10px 12px;width: 40px;height: 40px;background: #4998f4;border-radius: 4px;cursor: pointer;}
.g-toolbar .toolbar-item .item-tip-c{
  position:absolute;
  right: 45px;
  text-align: center;color: #fff;
  overflow: hidden;
}

.g-toolbar .toolbar-item .item-tip-c .item-box{
  position:absolute;
  right:-112px; 
  padding: 8px;
  background: #d33737;
  border-radius: 4px;
  -ms-transition: right 0.3s cubic-bezier(0.17, 0.67, 0.88, 1);
  -moz-transition: right 0.3s cubic-bezier(0.17, 0.67, 0.88, 1);
  -webkit-transition: right 0.3s cubic-bezier(0.17, 0.67, 0.88, 1);
  transition: right 0.3s cubic-bezier(0.17, 0.67, 0.88, 1);
}
.g-toolbar .toolbar-item .item-tip-c.item-tip-kefu .item-box{padding: 6px 0 6px 11px;line-height: 14px}
.g-toolbar .toolbar-item .item-tip-c.item-tip-back .item-box{padding: 11px 0 11px 11px;}
.g-toolbar .toolbar-item:hover{background: #d33737;border-left: 12px solid #d33737;margin: 0 0 10px 0;}
.g-toolbar .toolbar-item:hover .item-tip-c{width: 121px;height: 140px;}
.g-toolbar .toolbar-item:hover .item-tip-c .item-box{right:0;}
.g-toolbar a{display:block;width:40px;height: 40px;}
.g-toolbar #back{display: none;}
.u-spi{background: url(../img/bg.png) no-repeat;display: inline-block;width:28px;height: 28px;margin: 5px 0 0 7px;}
.u-spi.u-025{background-position: -343px -360px;}
.u-spi.u-041{background-position: -369px -360px;}
.u-spi.u-042{background-position: -395px -360px;}
.u-spi.u-043{background-position: -423px -360px;}
